* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

#counter-value {
  margin: 30px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.buttons input {
  padding: 5px;
}